# Flask
SECRET_KEY=gere-com-python-secrets.token_hex-32

# Supabase
SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=

# FCM
FIREBASE_SERVICE_ACCOUNT_JSON={...}
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_VAPID_KEY=
# Atenção: o sender ID também deve ser preenchido no service worker no frontend

# Twilio
TWILIO_ACCOUNT_SID=AC...
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=+55...

# Database
DATABASE_URL=postgresql://postgres:<password>@db.<ref>.supabase.co:5432/postgres
