* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: var(--background-secondary-color);
    color: var(--text-secondary-color);
    font-family: "inter", sans-serif;
    letter-spacing: 0.011em;
    line-height: 24px;
}

.etapa01-telefone {
    padding: 164px 0px 237px 0px;
}
.main-icon-circle {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto 30px auto;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 52px;
    text-align: center;
}

.conteiner-default {
    width: 350px;
    margin: 0px auto;
}
label {
    font-size: 16px;
    font-weight: 600;
}

input, select {
    background-color: var(--secondary-color);
    color: var(--text-quaternary-color);
    border-radius: 15px;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;

    color: var(--text-primary-color);
}
.input-default, select {
    width: 350px;
    height: 52px;
    margin: 4px auto 16px auto;
    padding-left: 19px; /* para espacamento no placeholder */
}
select {
    padding-left: 36px;
}

button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 350px;
    height: 52px;
    border-radius: 15px;
    border-color: transparent;
    display: block;
    margin: 0 auto 30px auto;

    font-size: 16px;
    font-weight: 600;
}
button:disabled {
    background-color: var(--button-no-clickable);
    color: var(--button-text-no-clickable);
}

p {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

/*ETAPA02: Confirmacao por codigo SMS---------------------------------------------*/

.etapa03-codigo-SMS {
    padding: 164px 0px 327px 0px;
}
.etapa03-codigo-SMS h1 {
    font-size: 36px;
    margin-bottom: 15px;
}
.etapa03-codigo-SMS h2 {
    margin-bottom: 45px;
}
.conteiner-codigo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 33px;
}
.input-codigo {
    width: 44px;
    height: 52px;
    text-align: center;
}
.botao-reenviar {
    color: var(--text-secondary-color);
    text-decoration: underline;
    background-color: transparent;
    width: auto; /*para englobar apenas o texto de dentro*/
}

/*ETAPA03: Ultima etapa, nome e bairro---------------------------------------------*/

.etapa04-nome-bairro {
    padding: 88px 0px 160px 0px;
}
.input-com-descricao, select {
    width: 350px;
    height: 52px;
    padding-left: 19px;
    margin: 4px auto 5px auto;
}
.p-descricao-nome {
    color: var(--button-text-no-clickable);
    text-align: left;
    margin-bottom: 19px;
}
.conteiner-com-icone {
    width: 350px;
    margin: 0px auto 16px auto;
    position: relative;
}
.icon-location {
    width: 20px;
    height:20px;
    display: block;
    position: absolute;
    top: 45px;
    left: 15px;
    background-color: transparent;
}

/*background-color: var(--secondary-color);
    color: var(--primary-color);*/

a {
    background-color: var(--button-no-clickable);
    color: var(--button-text-no-clickable);
    width: 350px;
    height: 52px;
    border-radius: 15px;
    border-color: transparent;
    display: block;
    margin: 0 auto 30px auto;

    font-size: 16px;
    font-weight: 600;

    text-decoration: none;
    text-align: center;
    line-height: 52px;
}
a:disabled {
    background-color: var(--button-no-clickable);
    color: var(--button-text-no-clickable);
}

select {
    padding-left: 44px;
}
