@import url("global.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: transparent;
}
#container-principal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.45);

    z-index: 999;

    display: none;
}
#modal {
    border-radius: 35px 35px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 95vh; /* importante: usa viewport */
    
    background-color: #F5EDE9;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* melhora no mobile */
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17px 30px 0px 22px;
    background-color: var(--background-primary-color);
}
.header + hr {
    position: sticky;
    top: 58px;
    z-index: 10;
}
h2 {
    font-size: 18px;
    font-weight: 600;
}
#header-botoes {
    display: flex;
    gap: 11px;
    vertical-align: middle;
}
.header button {
    background-color: transparent;
    border: none;
    margin-top: -15px;
    
}
.header button img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
hr {
    background-color: var(--hr-color);
    width: 100%;
    height: 1.5px;
    border: none;
}

#detalhes-do-evento {
    padding: 0 22px;
    display: none;
}
#tipo_evento {
    display: block;
    background-color: var(--details-green);
    border-radius: 11px;
    width: 62px;
    height: 22px;
    margin-top: 20px;
    margin-bottom: 12px;

    color: var(--text-details-green);
    font-size: 11px;
    line-height: 21px;;
    font-weight: 500;
    text-align: center;
}
h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 7px;
}
#descricao_evento {
    color: var(--text-tertiary-color);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
#conjunto-detalhes {
    display: flex;
    flex-direction: column;
    gap: 14.5px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.caixa_info {
    display: flex;
    flex-direction: row;
    gap: 9px;
}
.caixa-info img {
    width: 43px;
    height: 43px;
}
.texto_grande_preto {
    font-size: 16px;
    font-weight: 500;
}
.texto_pequeno_cinza {
    color: var(--text-tertiary-color);
    font-size: 13px;
    font-weight: 500;
    margin-top: 1px;
}





#criar-evento {
    display: none;
}
fieldset {
    border: none;
    padding: 22px 14px 11px 14px;
}
label {
    color: var(--text-details-gray);
    font-size: 16px;
    font-weight: 500;
}
.input-com-icone {
    position: relative;
}
fieldset button {
    position: absolute;
    top: 47%;
    right: 13px;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
}
fieldset img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
input, select {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px var(--text-quaternary-color);
    background-color: var(--background-primary-color);
    margin-top: 9px;
    margin-bottom: 16px;
    padding-left: 14px;

    color: var(--text-tertiary-color);
    font-size: 16px;
    font-weight: 500;
}
#data-horario {
    display: flex;
    gap: 12px;
}
#data-horario > div {
    flex: 1;
}
.input-preto {
    color: #000000;
}
textarea {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: solid 1px var(--text-quaternary-color);
    background-color: var(--background-primary-color);
    margin-top: 9px;
    padding-left: 14px;
    padding-right: 45px;
    padding-top: 9px;

    color: var(--text-tertiary-color);
    font-size: 16px;
    font-weight: 500;
}
#tipo-evento {
    margin-bottom: 35px;
}
#textarea-btn {
    position: absolute;
    top: 23%;
    right: 13px;
    transform: translateY(-50%);
}
.msg-aviso {
    position: relative;
}


#criar-aviso {
    display: none;
}


#adicionar-mobilizadora {
    padding: 23px 21px 0 21px;
}
#caixa-vermelha {
    background-color: var(--details-red);
    height: 60px;
    border-radius: 11px;
    text-align: center;
    padding: 11px 13px;
    margin-bottom: 15px;
}
#adicionar-mobilizadora p{
    color: var(--text-details-gray);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
}
#adicionar-mobilizadora span{
    color: var(--text-details-gray);
    font-size: 11px;
    font-weight: 700;
}
#adicionar-mobilizadora label {
    font-size: 16px;
    font-weight: 500;
}
#input-imagem {
    position: relative;
    margin-bottom: -11px;
}
#icone-telefone {
    position: absolute;
    top: 23px;
    left: 14px;
}
#telefone-mobilizadora {
    padding-left: 45px;
    color: var(--text-tertiary-color);
    font-size: 16px;
    font-weight: 500;
}






#hr-footer {
    position: fixed;
    bottom: 85px;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    padding: 18px 25px;

    background-color: var(--background-primary-color);
}
#confirmar-presenca {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
